header img{
    height: 30px;/*altura e largura*/
    width: 100px;
}
section img{
    height: 600px;
    width: 500px;
}
#secao-cursos { /*alinhando os textos da sessao de cursos*/
    text-align: center;
    margin-top: 100px;
    margin-left: 10px;
}

#secao-cursos img{ /*redimencionando imagens*/
    height: 300px;
    border-radius: 10px;
}

#secao-cursos .card{
    margin: 5px;
    color: black;
    background-color: mistyrose;
    border: 1px solid #ccc;
    border-radius: 50px;
}
    
main{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

